<lancamento-app></lancamento-app>
<div class="album py-5 bg-light">
    <div class="row container">
            <div class="col-md-3"  
            ng-repeat="filme in ctrl.filmes"
            ng-if="filme.poster_path">
              <div class="card mb-4 shadow-sm">
                <img class="img-card" 
                ng-src="{{ctrl.urlImg}}{{filme.poster_path}}" >
                <div class="card-body">
                  <p class="card-text">{{filme.overview}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" 
                      class="btn btn-sm btn-outline-secondary"
                      ng-click="ctrl.detalhesFilme(filme)">Detalhes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
</div>
<paginacao-app get-proximos-filmes="ctrl.getProximosFilmes()"
get-filmes-anteriores="ctrl.getFilmesAnteriores()"
primeira-pagina="ctrl.primeiraPagina"></paginacao-app>

